<div class = "container">
	<table class="table table-striped table-bordered">
		<tr>
			<th>Firstname</th>
			<th>Lastname</th> 
			<th>Email</th>
			<th>Reviews</th>
			<th></th>
			<th></th>
			<th></th>
		</tr>
		<% @users.each do |user|%>
		<tr>
			<td><%= user.firstname %></td>
			<td><%= user.lastname %></td>
			<td><%= user.email %></td>
			<td><%= user.review_count %></td>
			<td><%= link_to("Edit", edit_admin_user_path(user)) %> </td>
			<td><%= link_to("Delete", admin_user_path(user), method: :delete, data: {confirm: "Are you sure?" }) %> </td>
			<td><%= link_to("Switch to User", admin_spoof_user_path(user)) %></td>
		</tr>
		<% end %>
	</table>
	<%= paginate @users %>
</div>
